html {
  background: black
}

div#game {
    position: relative;
    text-align: center;
    width: 960px;
    min-height: 300px;
    border: 1px solid #666;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0px;
    left: 0px;
}

footer > p {
  color : #888
}
