div.genre-selecter {
    display: block;
    border: medium solid hsl(169, 46%, 52%);
}

span.genre {
    /* background-color: */
}

span.genre#gmove {
    background-color: blue;
}

span.genre#glook {
    background-color: purple;
}

span.genre#gsound {
    background-color: magenta;
}

div.editer {
    background-color: #aaa;
}
